body {
    background-image: url(wood-test.jpg);
}
h1 {
    text-align: center;
    font-size: large;
    color:rgb(78, 90, 255);  
    background-position: 0px auto;  
    background-color: lavenderblush;
    width: 300px;
    height: 40px;
    padding: 1%;
    font-family: "monospace";
}
p {
    text-align: center;
    color: white;
}
#outer-box {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background-color: burlywood;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px; 

}
.box-section {
    background-image: radial-gradient(black, rgb(110, 54, 54));
    border: solid rgb(80, 24, 24);
    
}
img {  
    max-width: 100%;  
    height: auto;    
}
label {
    background-image: url(label.png);
    text-align: center;
    display: block;
    width: 70%;
    margin: 10px auto;
    font-family: 'Courier Prime', monospace;
    font-size: 12px;
}