body {
    background-image: url(wood-test.jpg);
}
h1 {
    text-align: center;
    font-size: large;
    color:rgb(78, 90, 255);  
    background-position: 0px auto;  
    background-color: lavenderblush;
    width: 300px;
    height: 40px;
    padding: 1%;
    font-family: "monospace";
}
p {
    text-align: center;
    color: white;
}
#outer-box {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background-color: burlywood;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px; 

}
.box-section {
    background-color: cornsilk;
    border: solid black;
}