body {
    background-image: url(Velvet-Texture.jpg);
}
#logo {
    display: inline-block;
    margin: 0 auto;
    width: 40%;
    height: 40%;
}
h1 {
    text-align: center;
    font-size: large;
    color:rgb(78, 90, 255);  
    background-position: 0px auto;  
    background-color: lavenderblush;
    width: 300px;
    height: 40px;
    padding: 1%;
    font-family: "monospace";
}
p {
    text-align: center;
    color: white;
}
#outer-box {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    background-image: url(inner-wood-panel.jpg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    border-image-slice: 30;
    border-image-source: url("Vertical-Wood-Border.jpg");
    border-style: solid;
    border-width: 20px;
}
.box-section {
    background-color: #edddaf;
}
img {  
    display:block;
    max-width: 100%;  
    height: auto;
    margin: 10px auto;
}
.name {
    background-image: url(label.png);
    text-align: center;
    display: block;
    width: 80%;
    margin: 10px auto;
    font-family: 'Courier Prime', monospace;
    font-size: 16px;            
}
label {
    background-image: url(label.png);
    text-align: center;
    width: 400px;
    margin: 10px auto;
    display: none;
    font-family: 'Courier Prime', monospace;
    font-size: 12px;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 70px);
    padding: 20px;
    border: 3px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-sizing: border-box;
}
.name:hover + label {
    display: block;
}